.container {
    text-align: center;
    color: rgb(94, 166, 230);
    background-color: cornsilk;
}

.five {
    background: beige;
    border: 2px solid black;
}

li {
    list-style-type: none;
    border: 1px solid black;
}